.header {
  background-color: $color-dark;
  color: $color-light;
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  &__title {
    flex: 1;
  }
  &__link {
    flex: 1;
  }
}
